.transition.fade {
    position: relative;
    top     : 0;
    left    : 0;
    right   : 0;
    height  : 100%;
    opacity : 1;
}
.transition.fade.ng-enter,
.transition.fade.ng-leave {
    @include single-transition(all, 1s, ease);
}
.transition.fade.ng-enter {
    opacity: 0;
}
.transition.fade.ng-enter-active {
    opacity: 1;
}
.transition.fade.ng-leave {
    position: absolute;
    overflow: hidden;
    opacity : 1;
}
.transition.fade.ng-leave-active {
    opacity: 0;
}
@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}
.animation-rotate {
    animation-duration       : 1s;
    animation-name           : rotate;
    animation-iteration-count: infinite;
    animation-play-state     : paused;
    animation-timing-function: linear;
    &.play {
        animation-play-state: running;
    }
}
