/*---------- COLORS ----------*/

$greenLight: rgb(65,120,135);
$greenTopBanner: rgb(40,100,120);
$greenTextTitle: rgb(40,100,120);
$greenLink: rgb(65,120,135);
$greenDark: #004162;
$greenDarkMap: #003152;
$grayLight: #D2D4DA;
$grayLightBackground: #F4F4F6;
$grayField: #A5AAB5;
$grayBoxContent: #F4F4F6;
$grayText: #B4B9C2;
$grayMediumDark: #707789;
$grayTextDark: rgb(100,100,100);
$grayTextVeryDark: rgb(50,50,50);
$grayBorder: #E8E9EC;
$greenText: #009900;
$greenLink: #55b400;
$redText: #FF3333;
