/*---------- TABLET ----------*/

@media (max-width: 991px) {
    #header {
        #menuHeader {
            .btn {
                margin: 10px auto 0;
                display: block;
                float: initial !important;
            }
            .menu-dropdown {
                ul {
                    li {
                        margin: 0;
                        text-align: center;
                        display: inline-block;
                    }
                }
            }
        }
    }
    #footer {
        padding-top: 25px;
        ul {
            margin: 15px 0;
        }
        footer {
            margin-top: 25px;
            min-height: 0px;
            ul {
                li {
                    &,
                    &:first-child,
                    &:last-child {
                        margin: 5px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .content-text {
        margin-top: 10px;
    }
}
@media (max-width: 991px) {
    #header {
        #menuHeader {
            .menu-dropdown {
                ul>li {
                    width: 100%;
                    >ul {
                        position: relative;
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*---------- MOBILE ----------*/

@media (max-width: 767px) {
    .view-content {
        margin-top: 20px;
        padding-bottom: 20px;
    }
    h1.title {
        font-size: 30px;
    }
    #footer {
        text-align: center;
        .type {
            margin: 0 0 30px !important;
        }
        ul li {
            width: 100%;
            margin: 10px 0 !important;
            a {
                line-height: 32px;
            }
        }
        footer {
            .lang {
                border-bottom: 1px solid $grayField;
            }
            nav {
                width: 100%;
            }
            ul li {
                width: 100%;
                text-align: center;
                a {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    #header {
        #banner {
            .breadcrumb {
                position: relative;
                top: auto;
                margin: 40px 0 0;
            }
            .title-site {
                position: relative;
                margin: 10px 0 57px;
                top: auto;
                h1 {
                    font-size: 40px;
                }
                h3 {
                    margin-top: 5px;
                }
            }
            .logo-rapdin {
                height: auto;
                padding: 0;
                margin: auto;
                display: block;
                max-width: 50%;
                position: relative;
                right: auto;
            }
            .full-heigth {
                height: auto;
                width: 100%;
            }
        }
    }
}
