<div class="container home">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 section">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="homeTitle">
                                <h1 class="title">{{'pageContact-Contact' | translate}}</h1>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3>E-mail: <a href="mailto:joaojunior.mail@gmail.com">joaojunior.mail@gmail.com </a></h3>
                            <h3>Facebook: <a href="https://www.facebook.com/joaojunior.mail" target="_blank">@joaojunior.mail</a> </h3>
                            <h3>Twitter: <a href="https://twitter.com/joaojuniormail" target="_blank">@joaojuniormail</a> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>