<section id="top-ib"></section>
<header id="header">
    <section id="banner" class="container-fluid">
        <div class="row full-heigth">
            <div class="container full-heigth">
                <div class="full-heigth">
                    <div id="breadcrumb" ncy-breadcrumb></div>
                    <a ui-sref="login" class="title-site">
                        <h1>UXSense</h1>
                        <h3>{{'header-Subtitle' | translate}}</h3>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div ng-include="menuHeader" id="menuHeader"></div>
</header>
