<div class="container home">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 section">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="homeTitle">
                                <h1 class="title">{{'title-LostPassword' | translate}}</h1>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr class="hidden-xs hidden-sm "/>
                        </div>
                        <form name="formLostPassword" ng-submit="submit($event)" class="box-gray" novalidate>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="">{{'field-Email' | translate}}*</label>
                                        <input type="email" name="email" class="form-control" ng-model="form.email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-blue">{{'field-Save' | translate}}</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
