<div class="container">
    <div class="row">
        <div class="col-md-11">
            <nav class="menu-dropdown">
                <ul>
                    <li><a ui-sref-active="active" ui-sref="home">{{'menuTopIn-Start' | translate}}</a></li>
                    <li><a ui-sref-active="active" ui-sref="groups">{{'menuTopIn-Groups' | translate}}</a></li>
                    <li><a ui-sref-active="active" ui-sref="questions">{{'menuTopIn-Questions' | translate}}</a></li>
                    <li><a ui-sref-active="active" ui-sref="units">{{'menuTopIn-Units' | translate}}</a></li>
                    <li><a ui-sref-active="active" ui-sref="invite">{{'menuTopIn-Invite' | translate}}</a></li>
                    <li><a ui-sref-active="active" ui-sref="contact">{{'menuTop-Contact' | translate}}</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-green pull-right" ng-click="exitSite()">{{'menuTopIn-Exit' | translate}}</button>
        </div>
    </div>
</div>
